@tailwind base;
@tailwind components;
@tailwind utilities;

[data-radix-popper-content-wrapper] {
  z-index: 999 !important;
}

input::-ms-reveal {
  display: none;
}

input[type='number']::-webkit-inner-spin-button {
  display: none;
}

[type='button'] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 0.75rem;
  background: transparent;
}

.dark ::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  @apply bg-slate-500;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  @apply bg-slate-300;
}

textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}

.flags {
  font-family: 'Country Flags';
}

.simplebar-scrollbar:before {
  @apply bg-slate-500;
}

.body-overlay {
  position: absolute;
  margin-top: 40px;
  inset: 0px;
  z-index: 999;
  animation: 300ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal none running fadeInOpacity;
}

.esc-key {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M.506 6h3.931V4.986H1.736v-1.39h2.488V2.583H1.736V1.196h2.69V.182H.506V6ZM8.56 1.855h1.18C9.721.818 8.87.102 7.574.102c-1.276 0-2.21.705-2.205 1.762-.003.858.602 1.35 1.585 1.585l.634.159c.633.153.986.335.988.727-.002.426-.406.716-1.03.716-.64 0-1.1-.295-1.14-.878h-1.19c.03 1.259.931 1.91 2.343 1.91 1.42 0 2.256-.68 2.259-1.745-.003-.969-.733-1.483-1.744-1.71l-.523-.125c-.506-.117-.93-.304-.92-.722 0-.375.332-.65.934-.65.588 0 .949.267.994.724ZM15.78 2.219C15.618.875 14.6.102 13.254.102c-1.537 0-2.71 1.086-2.71 2.989 0 1.898 1.153 2.989 2.71 2.989 1.492 0 2.392-.992 2.526-2.063l-1.244-.006c-.117.623-.606.98-1.262.98-.883 0-1.483-.656-1.483-1.9 0-1.21.591-1.9 1.492-1.9.673 0 1.159.389 1.253 1.028h1.244Z' fill='%235b697d'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 57.1428571429% auto;
}

.code-filter .simplebar-content-wrapper {
  outline: none;
  margin-right: 10px;
  margin-left: 0;
}

.simplebar-content-wrapper {
  outline: none;
  margin-right: 12px;
  margin-left: 6px;
}

.simplebar-height-auto-observer-wrapper {
  z-index: 1;
}

.animation-pulse-copy {
  animation: pulse2 2s infinite;
}

.fade-in-init {
  opacity: 0;
}

.fade-in-init-hover {
  opacity: 100%;
  transition-delay: 1.5s;
  transition-property: opacity;
  transition-duration: 0.3s;
}

.fade-in-animation {
  animation: fadeInAnimation;
  animation-timing-function: ease-linear;
  animation-duration: 0.2s;
}

.fade-in-opacity-with-delay {
  animation: fadeInOpacityWithDelay;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
}

.search-pulse-animation {
  display: inline-block;
  animation: searchPulseAnimation;
  animation-timing-function: ease-in-out;
  animation-duration: 0.3s;
}

@keyframes fadeInAnimation {
  0% {
    transform: scale(0.7);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInOpacityWithDelay {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes searchPulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse2 {
  0% {
    box-shadow: 0 0 0 0 rgba(229, 62, 62, 1);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(229, 62, 62, 0);
  }
}

.pulse-clip {
  animation: pulseClip 1s 1;
}

.dark .pulse-clip {
  animation: pulseClipDark 1s 1;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulseClipDark {
  50% {
    opacity: 0.7;
    transform: scale(1);
  }
  60% {
    transform: scale(1.05);
    @apply bg-yellow-600;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulseClip {
  50% {
    opacity: 0.7;
    transform: scale(1);
  }
  60% {
    transform: scale(1.05);
    @apply bg-yellow-200;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
}

@layer base {
  :root {
    --color-solid-resize-bar: rgb(226, 232, 240);

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 99.5%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 217 18.41% 8.5%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 213.91, 16.28%, 9.46%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    overscroll-behavior: none;
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}

body,
.bg-background,
[role='menubar'] {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

code {
  font-family: ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono',
    monospace;
  font-size: 0.875rem;
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-8 w-8 items-center justify-center rounded-full bg-muted text-center -indent-px text-base font-medium;
    @apply ml-[-41px];
    content: counter(step);
  }
}

/** Prevent scrolling on body when modal is open */
body[style*='pointer-events: none'] .overflow-auto,
body[style*='pointer-events: none'] .overflow-y-auto,
body[style*='pointer-events: none'] .overflow-x-auto {
  overflow: hidden !important;
}

body [type='button'] {
  -webkit-appearance: none;
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

/** Prevent scrolling on body when modal is open */
body[style*='pointer-events: none'] .overflow-auto,
body[style*='pointer-events: none'] .overflow-y-auto,
body[style*='pointer-events: none'] .overflow-x-auto {
  overflow: hidden !important;
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

.code-editor-wrapper {
  font-family: sans-serif;
  text-align: center;
}

pre.code-editor-pre {
  text-align: left;
  margin: 1em 0;
  padding: 0.5em;
  overflow: scroll;
}

pre.code-editor-pre .token-line {
  line-height: 1.3em;
  height: 1.3em;
}

.code-editor-line {
  display: table-row;
}

.code-editor-line-number {
  display: table-cell;
  text-align: right;
  padding-right: 1em;
  user-select: none;
  opacity: 0.5;
}

.code-editor-line-content {
  display: table-cell;
}

.not-active-background {
  background-size: 10px 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23CCCCCC' stroke-width='0.7' %3E%3Cpath d='M0,20 L20,0 M15,25 L25,15 M-5,5 L5,-5'/%3E%3C/g%3E%3C/svg%3E");
}

.dark .not-active-background {
  background-size: 10px 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23333333' stroke-width='0.7' %3E%3Cpath d='M0,20 L20,0 M15,25 L25,15 M-5,5 L5,-5'/%3E%3C/g%3E%3C/svg%3E");
}
